In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("data\dataset.csv")

In [3]:
df = df.loc[(df.fare_amount >= 1) & (df.fare_amount <= 100)]

In [4]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'],format='%Y-%m-%d %H:%M:%S UTC') 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999529 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                999529 non-null  object
 1   fare_amount        999529 non-null  float64
 2   pickup_datetime    999529 non-null  datetime64[ns]
 3   pickup_longitude   999529 non-null  float64
 4   pickup_latitude    999529 non-null  float64
 5   dropoff_longitude  999519 non-null  float64
 6   dropoff_latitude   999519 non-null  float64
 7   passenger_count    999529 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 68.6+ MB

In [5]:
# horário
df['pickup_hour']=df['pickup_datetime'].apply(lambda x:x.hour)
# dia da semana (0 é segunda e 6 é domingo)
df['pickup_day_of_week']=df['pickup_datetime'].apply(lambda x:x.weekday())
# dia
df['pickup_day']=df['pickup_datetime'].apply(lambda x:x.day)
# mês
df['pickup_month']=df['pickup_datetime'].apply(lambda x:x.month)
# ano
df['pickup_year']=df['pickup_datetime'].apply(lambda x:x.year)

In [6]:
df = df.loc[(df.pickup_latitude>=40.63) & (df.pickup_latitude<=40.88)]
df = df.loc[(df.pickup_longitude>=-74.04) & (df.pickup_longitude<=-73.75)]
df = df.loc[(df.dropoff_latitude>=40.63) & (df.dropoff_latitude<=40.88)]
df = df.loc[(df.dropoff_longitude>=-74.04) & (df.dropoff_longitude<=-73.75)]

In [7]:
df['abs_diff_longitude'] = (df.dropoff_longitude - df.pickup_longitude).abs()
df['abs_diff_latitude'] = (df.dropoff_latitude - df.pickup_latitude).abs()

In [8]:
df = df.loc[(df.passenger_count > 0) & (df.passenger_count<5)]

**Calcular o MAE e o R2 se fizéssemos a predição dizendo que a tarifa seria igual a mediana para todos os exemplos**

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
df['fare_amount_median'] = df['fare_amount'].median()
df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_hour,pickup_day_of_week,pickup_day,pickup_month,pickup_year,abs_diff_longitude,abs_diff_latitude,fare_amount_median
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,17,0,15,6,2009,0.002701,0.009041,8.5
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,16,1,5,1,2010,0.036780,0.070701,8.5
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,0,3,18,8,2011,0.008504,0.010708,8.5
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1,4,5,21,4,2012,0.004437,0.024949,8.5
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,7,1,9,3,2010,0.011440,0.015754,8.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,2014-06-29 22:57:55.0000001,20.0,2014-06-29 22:57:55,-73.872919,40.774106,-73.796524,40.775041,2,22,6,29,6,2014,0.076395,0.000935,8.5
999995,2014-09-13 21:44:38.0000001,7.0,2014-09-13 21:44:38,-73.976676,40.785630,-73.959196,40.775114,1,21,5,13,9,2014,0.017480,0.010516,8.5
999996,2010-09-20 14:50:37.0000002,7.3,2010-09-20 14:50:37,-73.992103,40.671385,-73.992103,40.671385,2,14,0,20,9,2010,0.000000,0.000000,8.5
999998,2011-07-08 00:29:00.00000099,6.9,2011-07-08 00:29:00,-73.980317,40.759482,-73.976832,40.743122,1,0,4,8,7,2011,0.003485,0.016360,8.5
999999,2009-12-31 14:30:00.00000021,4.1,2009-12-31 14:30:00,-74.006635,40.741598,-73.999450,40.745702,1,14,3,31,12,2009,0.007185,0.004104,8.5

In [11]:
Y = df['fare_amount_median']
del df['fare_amount_median']
X = df

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30, random_state = 42)

In [13]:
lm = LinearRegression()
lm.fit(X_train[['abs_diff_longitude']], Y_train)

LinearRegression()

In [14]:
Y_pred = lm.predict(X_test[['abs_diff_longitude']])

In [15]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [16]:
mae = mean_absolute_error(Y_test, Y_pred)
mae

0.0

In [17]:
r2_score(Y_test, Y_pred)

1.0

**Treinar o modelo novamente, dessa vez escolhendo uma outra feature; fazer a predição no conjunto de teste; verificar os erros**

In [19]:
Y = df['fare_amount']
del df['fare_amount']
X = df

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30, random_state = 42)

In [21]:
lm = LinearRegression()
lm.fit(X_train[['passenger_count']], Y_train)

LinearRegression()

In [22]:
Y_pred = lm.predict(X_test[['passenger_count']])

In [23]:
Y_pred

array([10.98142633, 10.98142633, 10.98142633, ..., 10.98142633,
       10.98142633, 10.98142633])

In [24]:
mae = mean_absolute_error(Y_test, Y_pred)
mae

5.669353124298314

In [25]:
mse = mean_squared_error(Y_test, Y_pred)
mse

77.40617900439536

In [26]:
r2_score(Y_test, Y_pred)

0.0003595786629593256